.friendList {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 50px auto;
  padding: 0;
  list-style: none;
}


.item:last-child {
  margin-bottom: 0;
}

.online {
  color: #4CAF50;
}

.offline {
  color: #f44336;
} 